# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

*.out
bin/*
lib/*
build
.DS_Store
res
include/[._]*.s[a-w][a-z]
include/[._]s[a-w][a-z]
spkie/[._]s[a-w][a-z]
spkie/[._]*.s[a-w][a-z]
doc/[._]s[a-w][a-z]
doc/[._]*.s[a-w][a-z]
test/[._]s[a-w][a-z]
test/[._]*.s[a-w][a-z]

